#Home {
  display: flex;
  flex: 1;
  flex-direction: column;
  div:first-child {
    .headerHome {
      display: flex;
      justify-content: space-between;
      padding: 10px 10px 0;
      .buttonLogout {
        display: flex;
        align-items: center;
        border: none;
        font-size: 1.5rem;
        svg {
          margin-left: 5px;
        }
      }
      >div {
        width: 200px;
      }
    }
  }
}
